<!DOCTYPE html>
<html>
    <head>
        <title>Resume</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="./assets/js/homepage.js"></script>
        <link rel="stylesheet" type="text/css" href="./assets/styles/homepage.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    </head>

    <body>
        <h1>Ryan Jose Emmanuel Violago Tanjutco II</p>
        <h3>Junior Fordham University Student | Computer Science Major | rtanjutcoii@fordham.edu</h3>
        <a href="https://www.linkedin.com/in/ryanjoseemmanuelvt/" id="linkedin"><img src="../assets/images/linkedin.png" alt="LinkedIn Logo" class="logo"></a>
        
        <h2>Courses Taken</h2>
        <div id="courses-container"></div>
        <h2>Work Experience</h2>
        <div id="works-container"></div>
        <h2>Comments:</h2>
        <div id="asks-container"></div>
        
        <h2 class="weather-title">If the weather's nice, it's easy to meet for a coffee meeting.</h2><br>
        <h2 class="weather-title"> Current weather in New York City:</h2>
        <div id="weather-status"></div>

        <button type="button" class="btn btn-primary submit-button margin-twenty questionButton">Would you like to leave a comment?</button>

        <script>
            $(document).ready(function () {
                $.ajax({
                    url: `/api/courses`,
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        $('#courses-container').html('')
                        $.each(data, function (id, courses) {
                            $('#courses-container').append(`
                                <div class="course-container">
                                    <span class="course">${courses['name']}</span> <br>
                                </div>`)
                        });
                    },
                    error: function () {
                        console.log('failCourse');
                        $('#courses-container').html(`
                            <div class="error-message">
                                <p>Failed to load courses. Please try again later.</p>
                            </div>`);
                    }
                });
                
                $.ajax({
                    url: `/api/works`,
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        $('#works-container').html('')
                        $.each(data, function (id, works) {
                            $('#works-container').append(`
                                <div class="work-container">
                                    <span class="workName">${works['name']} (${works['active_years']})</span> <br>
                                    <ul>${works['description']}</ul> <br>
                                </div>`)
                        });
                    },
                    error: function () {
                        console.log('failWorks');
                        $('#works-container').html(`
                            <div class="error-message">
                                <p>Failed to load works. Please try again later.</p>
                            </div>`);
                    }
                });

                $.ajax({
                    url: `/api/asks`,
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        $('#asks-container').html('')
                        $.each(data, function (id, asks) {
                            $('#asks-container').append(`
                                <div class="ask-container">
                                    <span class="ask">${asks['firstName']} ${asks['lastName']}</span> <br>
                                    <ul class="question">${asks['question']}</ul>
                                </div> <br>`)
                        });
                    },
                    error: function () {
                        console.log('failAsks');
                        $('#asks-container').html(`
                            <div class="error-message">
                                <p>Failed to load asks. Please try again later.</p>
                            </div>`);
                    }
                });

                $.ajax({
                 url: "https://api.open-meteo.com/v1/forecast?latitude=40.7143&longitude=-74.006&current=temperature_2m,is_day&hourly=rain&timezone=America%2FNew_York&forecast_days=1",
                 type: "GET",
                 dataType: "json",
                 success: function (data) {
                    console.log('successWeather');
                    var temp = data.current.temperature_2m;
                    var isDay = data.current.is_day;
                    var rain = data.hourly.rain;

                    $("#weather-status").append(temp + " °C" + `<br>`);

                    if(isDay == 0) {
                        $("#weather-status").append(`
                            <span class="weather-comment">It's a bit too dark outside to meet. Contact me tomorrow!</span><br>
                        `)
                    }
                    else if(rain > 8) {
                        $("#weather-status").append(`
                            <span class="weather-comment">It's too rainy to meet right now. Contact me when the skies are clearer!</span><br>
                        `)
                    }
                    else if(temp < 2) {
                        $("#weather-status").append(`
                            <span class="weather-comment">It's too cold to meet right now. Let's wait for the temperature to rise.</span><br>
                        `)
                    }
                    else if(temp > 35) {
                        $("#weather-status").append(`
                            <span class="weather-comment">It's too hot to meet right now. Let's wait for the temperature to cool.</span><br>
                        `)
                    }
                    else {
                        $("#weather-status").append(`
                            <span class="weather-comment">It's the perfect time to meet up!</span><br>
                        `)
                    }

                    $("#weather-status").append(`
                            <span class="weather-comment">If you need me immediately, here's my phone number: <b>+1 917 536 6252</b></span>
                        `)

                 },
                 error: function () {
                        console.log('failWeather');
                    }
                })

                $(".questionButton").click(function() {
                    window.location.href = "/asks"
                });

                
            })



        </script>

    </body>
</html>

