
body {
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

h1, h3 {
    font-style: italic;
    text-align: center;
}

h1 {
    padding-top: 50px;
}

h2 {
    padding-left: 5%;
}

#courses-container, #works-container, #asks-container {
    padding-left: 10%;
    padding-bottom: 2%;
}


.course-container {
    padding-bottom: 2%;
}

.workName {
    font-weight: bold;
}

.work-container {
    margin-right:30%;
}

.error-message {
    color: red;
}

#linkedin {
    display: block;
    margin: auto;
    width:150px;
    height:150px;
    margin-bottom: -20px;
    margin-top: -20px;
}

.ask-container {
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: 70%;
    height: 100%;
}

.questionButton {
    display: block;
    margin: auto;
    margin-bottom: 30px;
    transform: scale(1.5);
 }

 .questionButton:hover {
    transform: scale(1.7);
 }

 img {
    width:150px;
    height:150px;
    margin-bottom: -20px;
 }

 #weather-status {
    text-align: center;
    padding-bottom: 30px;
    font-size: 40px;
 }

 .weather-title {
    text-align: center;
    padding: 0%;
 }

 .weather-comment {
    font-size: 16px;
 }

 .ask {
    color:black;
    border-radius: 25px;
    font-size: 20px;
}

.question {
    color:black;
}

ul {
    word-wrap:break-word;
}